@font-face {
    font-family: 'pixel';
    src: url('/fonts/PixelatedEleganceRegular-ovyAA.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gothic';
    src: url('/fonts/GothicA1-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iso';
    src: url('/fonts/ISOCPEUR.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
