---
import BaseLayout from "../BaseLayout.astro"
---
<BaseLayout pageTitle = "prtm">
    <div class="h-full w-full flex flex-col items-center justify-center">
		<h1 class=" text-textWhite text-center mb-32 text-5xl h-fit hover:text-textYellow font-iso transition transform delay-100">BLEH :P</h1>
        <hr class=" w-[75%] border-2 border-dashed border-textWhite">
    </div>
</BaseLayout>
