---
import BaseLayout from "../BaseLayout.astro";
---
<BaseLayout pageTitle="prtm">
  <div class="h-full w-full flex flex-col justify-start items-center p-4 sm:p-8">
    <div class="text-textWhite font-gothic mt-4 sm:mt-8 text-lg sm:text-xl">
      <div class="flex flex-col gap-8 text-textWhite">
        <p class="text-base sm:text-lg">
          Hi there I'm Pratham, a sophomore at IIT (BHU) Varanasi by day, and a tech enthusiast 24/7. I live for DevOps wizardry, web dev experiments, building quirky Discord bots, and crafting Python scripts with a twist (who says code can't be fun). When I'm not tinkering with tech, you'll find me jamming to music, gaming like there's no tomorrow, bingeing movies, or striking up a chat. I love connecting with awesome people.
        </p>
        <p class="text-base sm:text-lg">
          Forget Instagram, follow me on GitHub. (っ º - º ς)
        </p>
      </div>
    </div>
    <hr class="w-[75%] border-2 border-dashed border-textWhite my-16 sm:my-32">
  </div>
</BaseLayout>