---
import BaseLayout from "../BaseLayout.astro"
---
<BaseLayout pageTitle = "prtm">
	<div class="h-full w-full flex flex-col justify-center items-center">
			<div class="text-textWhite font-gothic mt-16 text-lg">
				<div class="flex gap-3 text-textWhite mb-4">
					Hi there I'm Pratham
					<img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" class="w-8"> 
				</div>
				<div class="flex flex-col gap-8 text-textWhite">
					<p>
						A sophomore at IIT (BHU) Varanasi by day, and a tech enthusiast 24/7. I live for DevOps wizardry, web dev experiments, building quirky Discord bots and crafting Python scripts with a twist ( who says code can't be fun ?). When I'm not tinkering with tech, you'll find me jamming to music, gaming like there's no tomorrow ,bingeing movies , or striking up a chat, I love connecting with awesome people.
					</p>
					<p>
						forget Instagram follow me on github instead. :D
					</p>
				</div>
			</div>
		<hr class=" w-[75%] border-2 border-dashed border-textWhite my-32">
	</div>
</BaseLayout>
