---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>prtm</title>
	</head>
	<body class=" bg-bg-default flex h-screen items-center justify-center">
		<h1 class=" text-textWhite hover:text-textYellow font-pixel transition transform delay-100">Coming soon.....</h1>
	</body>
</html>
