---
import BaseLayout from "../BaseLayout.astro";
---
<BaseLayout pageTitle="prtm">
    <div class="min-h-screen w-full flex flex-col justify-center items-center p-4 sm:p-8">
        <div class="text-textWhite w-full font-gothic mt-8 sm:mt-16 text-lg">
            <div class="flex flex-col gap-8 justify-center items-start text-textWhite">
                <p class="text-lg sm:text-xl mb-2">
                    These are the technologies and domains across which I work
                </p>
                <div class="container w-full">
                    <p class="text-xl font-medium hover:cursor-pointer hover:text-[#646d5d] transition transform delay-50">
                        > Discord Bots:
                    </p>
                    <div class="px-4 sm:px-6 mt-4 w-full hidden">
                        <ul class="list-disc list-inside space-y-2">
                            <li>Discord.py</li>
                            <li>Discord.js</li>
                        </ul>
                    </div>
                    <hr class="mt-8 border-textWhite">
                </div>

                <div class="container w-full">
                    <p class="text-xl font-medium hover:cursor-pointer hover:text-[#646d5d] transition transform delay-50">
                       > GO:
                    </p>
                    <div id="go-div" class="px-4 sm:px-6 mt-4 w-full hidden">
                        <ul class="list-disc list-inside space-y-2">
                            <li>Backend</li>
                            <li>Cloud</li>
                        </ul>
                    </div>
                    <hr class="mt-8 border-textWhite">
                </div>

                <div class="container w-full">
                    <p class="text-xl font-medium hover:cursor-pointer hover:text-[#646d5d] transition transform delay-50">
                       > Python:
                    </p>
                    <div class="px-4 sm:px-6 mt-4 w-full hidden">
                        <ul class="list-disc list-inside space-y-2">
                            <li>Selenium</li>
                            <li>Scripting</li>
                        </ul>
                    </div>
                    <hr class="mt-8 border-textWhite">
                </div>

                <div class="container w-full">
                    <p class="text-xl font-medium hover:cursor-pointer hover:text-[#646d5d] transition transform delay-50">
                        > C++:
                    </p>
                    <div class="px-4 sm:px-6 mt-4 w-full hidden">
                        <ul class="list-disc list-inside space-y-2">
                            <li>DSA</li>
                        </ul>
                    </div>
                    <hr class="mt-8 border-textWhite">
                </div>

                <div class="container w-full">
                    <p class="text-xl font-medium hover:cursor-pointer hover:text-[#646d5d] transition transform delay-50">
                        > Web Development:
                    </p>
                    <div class="px-4 sm:px-6 mt-4 w-full hidden">
                        <ul class="list-disc list-inside space-y-2">
                            <li>MERN</li>
                            <li>Next.js</li>
                            <li>Astro.js</li>
                            <li>TypeScript</li>
                            <li>Deno, Bun</li>
                            <li>MySQL, Postgres</li>
                            <li>Tailwind</li>
                            <li>PostMan</li>
                            <li>Prisma</li>
                            <li>AppWrite, FireBase, SupaBase</li>
                        </ul>
                    </div>
                    <hr class="mt-8 border-textWhite">
                </div>

                <div class="container w-full">
                    <p class="text-xl font-medium hover:cursor-pointer hover:text-[#646d5d] transition transform delay-50">
                        > UI/UX:
                    </p>
                    <div class="px-4 sm:px-6 mt-4 w-full hidden">
                        <ul class="list-disc list-inside space-y-2">
                            <li>Figma</li>
                            <li>Canva</li>
                            <li>Adobe Illustrator</li>
                        </ul>
                    </div>
                    <hr class="mt-8 border-textWhite">
                </div>

                <div class="container w-full">
                    <p class="text-xl font-medium hover:cursor-pointer hover:text-[#646d5d] transition transform delay-50">
                        > Arduino:
                    </p>
                    <div class="px-4 sm:px-6 mt-4 w-full hidden">
                        <ul class="list-disc list-inside space-y-2">
                            <li>Basic IoT development</li>
                            <li>Bluetooth communication</li>
                        </ul>
                    </div>
                    <hr class="mt-8 border-textWhite">
                </div>
            </div>
        </div>
        <hr class="w-[75%] border-2 border-dashed border-textWhite my-16 sm:my-28">
    </div>
</BaseLayout>

<script>
    const containers = document.querySelectorAll(".container")
    containers.forEach(container => {
        var isClicked = true;
        container.children[0].addEventListener('click', () => {
            var classes = container.children[1].classList
            isClicked = !isClicked
            if (isClicked) {
                classes.add("hidden")
            } else {
                classes.remove("hidden")
            }
        });
    });
</script>