---
import BaseLayout from "../BaseLayout.astro";
---
<BaseLayout pageTitle="prtm">
    <div class="h-full w-full flex flex-col justify-center items-center p-8">
        <div class="text-textWhite w-full font-gothic mt-16 text-lg">
            <div class="flex flex-col gap-8 justify-center items-start text-textWhite">
                <p class="text-2xl mb-4">
                    These are the technologies and domains across which I work
                </p>
                <p class="text-xl font-semibold">
                    Discord Bots:
                </p>
                <div class=" px-6 w-full">
                    <ul class="list-disc list-inside space-y-2">
                        <li>Discord.py</li>
                        <li>Discord.js</li>
                    </ul>
                </div>
                <p class="text-xl font-semibold">
                    Python:
                </p>
                <div class=" px-6 w-full">
                    <ul class="list-disc list-inside space-y-2">
                        <li>Slenium</li>
                        <li>Scripting</li>
                    </ul>
                </div>
                <p class="text-xl font-semibold">
                    C++:
                </p>
                <div class=" px-6 w-full">
                    <ul class="list-disc list-inside space-y-2">
                        <li>DSA</li>
                    </ul>
                </div>
                <p class="text-xl font-semibold">
                    Web Development:
                </p>
                <div class=" px-6 w-full">
                    <ul class="list-disc list-inside space-y-2">
                        <li>MERN</li>
                        <li>Next.js</li>
                        <li>Astro.js</li>
                        <li>TypeScript</li>
                        <li>Deno, Bun</li>
                        <li>MySQL, Postgres</li>
                        <li>Tailwind</li>
                        <li>PostMan</li>
                        <li>Prisma</li>
                        <li>AppWrite, FireBase, SupaBase </li>
                    </ul>
                </div>
                <p class="text-xl font-semibold">
                    UI/UX:
                </p>
                <div class=" px-6 w-full">
                    <ul class="list-disc list-inside space-y-2">
                        <li>Figma</li>
                        <li>Canva</li>
                        <li>Adobe illustrator</li>
                    </ul>
                </div>
                <p class="text-xl font-semibold">
                    Arduino:
                </p>
                <div class=" px-6 w-full">
                    <ul class="list-disc list-inside space-y-2">
                        <li>Basic IOT development</li>
                        <li>Bluetooth communication</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="w-[75%] border-2 border-dashed border-textWhite my-28">
    </div>
</BaseLayout>