---
const currentYear = new Date().getFullYear();
---

<footer class="flex flex-col md:flex-row w-full justify-between items-center text-textWhite p-5 lg:px-0">
    <div class="copy text-center md:text-left mb-2 md:mb-0">
        Copyright © {currentYear} Pratham Seth
    </div>
    <div class="coffee flex gap-2 items-center">
        <div class="drink">drink</div>
        <img src="/Vector.svg" alt="coffee">
        <div class="happy">be happy : )</div>
    </div>
</footer>
