---
---
<header class="flex flex-col w-full mt-16">
    <div class="top flex justify-between w-full">
        <div class="flex gap-2">
            <div>
                <a href="/"><img src="/picTerminator.svg" alt="pic"></a>
            </div>
            <div>
                <div class="name text-textWhite text-5xl font-iso">Pratham Seth</div>
                <div class="pseudo text-textYellow text-xl font-pixel">T3RM1N4T0R</div>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="github">
                <img src="/github.svg" alt="github">
            </div>
            <div class="linkedin">
                <img src="/linkedin.svg" alt="linkedin">
            </div>
            <div class="twitter">
                <img src="/twitterx.svg" alt="twitter">
            </div>
        </div>
    </div>
    <div class="bottom mt-14">
        <div class="navlinks text-textWhite flex gap-3">
            <a href="/about" class=" hover:text-textYellow">~/About me</a>
            ||
            <a href="/tech" class=" hover:text-textYellow">~/Tech</a>
            ||
            <a href="https://github.com/PrathamX595" target="_blank" class=" hover:text-textYellow">~/Projects</a>
        </div>
    </div>
</header>