---
---
<header class="flex flex-col w-full mt-16">
    <div class="top flex justify-between items-center w-full flex-wrap">
        <div id="idblock" class="flex gap-2 items-center px-6">
            <div>
                <a href="/"><img src="/picTerminator.svg" alt="pic" class="w-20 h-20 md:w-auto md:h-auto"></a>
            </div>
            <div>
                <div class="name text-textWhite text-3xl md:text-5xl font-iso">Pratham Seth</div>
                <div class="pseudo text-textYellow text-lg md:text-xl font-pixel">T3RM1N4T0R</div>
            </div>
        </div>
        <div class="flex gap-2 mt-4 md:mt-0 px-6">
            <div class="github">
                <a href="https://github.com/PrathamX595" target="_blank"><img src="/github.svg" alt="github" class=" h-10 sm:h-auto"></a>
            </div>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/pratham-seth-bb9bb5285" target="_blank">
                    <img src="/linkedin.svg" alt="linkedin" class=" h-10 sm:h-auto">
                </a>
            </div>
            <div class="twitter">
                <a href="https://x.com/Pratham_595" target="_blank">
                    <img src="/twitterx.svg" alt="twitter" class=" h-10 sm:h-auto">
                </a>
            </div>
        </div>
    </div>
    <div class="bottom mt-8 md:mt-14 px-6">
        <div class="navlinks text-textWhite text-lg md:text-xl flex flex-wrap gap-3 items-center">
            <a href="/about" class="hover:text-textYellow font-iso">~/About me</a>
            <span >||</span>
            <a href="/tech" class="hover:text-textYellow font-iso">~/Tech</a>
            <span >||</span>
            <a href="https://github.com/PrathamX595" target="_blank" class="hover:text-textYellow font-iso">~/Projects</a>
        </div>
    </div>
</header>